{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block Title %}Spotify Clone{% endblock Title %}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

	<body class='relative pt-8'>
		<nav class='p-4 bg-black bg-opacity-30 fixed top-0 left-0 w-full z-50'>
			<a href="{% url 'music:home_page' %}">
				<h2 class='text-white text-xl font-semibold'>
					<span class='text-green-800 font-black'>Django</span>-Spotify-Clone
				</h2>
			</a>
		</nav>

		{% block content %}
		
		{% endblock content %}


	</body>

</html>
